

<footer class="border-t-2 border-blue-600 flex items-center justify-between flex-wrap bg-white shadow-sm py-4 px-6 w-full">
  

<div class="flex justify-between">
  
  <div class="w-1/3 p-3">
        {%- if site.author -%}
          {{ site.author | escape }}
        {%- endif -%}
        {{ site.description | escape }}
    
  </div>

  <div class="w-1/3">
    
      {%- if site.email -%}
        E-mail : <a class="" href="mailto:{{ site.email }}">{{ site.email }}</a>
        {%- endif -%}

  </div>


  <div class="w-1/3">
    
        {%- include social.html -%}

  </div>


</div>


</footer>
