
header {
  padding-top: 32px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin:0 0 20px;
  padding-bottom: 5px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
}

h2, h3, h4, h5, h6 {
  color:rgba(6, 78, 59);
  font-weight: bolder;
}



a {
  color: #267CB9;;
  text-decoration:none;
}


a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}



pre {
	margin: 12px;
	padding: 9px;
	border-radius: 5px;
	background-color: #cbd5e0;
	overflow-x: scroll;
}

/** lists **/

ol li{
  list-style-type: decimal;
}

ul li {

  list-style-type: disc;
}

li {
  margin: 5px;
  list-style: none;
}

li p {
  margin: 0 0 2px;
}


/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: grey;
  border-collapse: collapse;

  tr {
    &:nth-child(even) {
      background-color:  #cbd5e0;
    }
  }

  th, td {
    padding: 10px 15px;
  }
  th {
    background-color: #1a202c;
    border: 1px solid #2d3748;
    border-bottom-color:#718096;
  }

  td {
    border: 1px solid l #718096;
  }
}

.h-content{
  height: 30rem;
}


.excerpt-heading{
  color:#267CB9;
}
.snippet-body{
  color:#232323;
}