<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}
  {% seo %}
  {%- include google-analytics.html -%}

<body>

    {%- include header.html -%}

<div class="flex mt-3">
  


  <div class="w-1/5 side-menu py-2 px-6">
    
    {% for category in site.categories %}

             <div>
                 
                 {% capture category_name %}{{ category | first }}{% endcapture %}  

                   <div id="#{{ category_name | slugize }}"></div>

                        <div class="bg-gray-300 mb-3 p-2 mb-2 cursor-pointer l-btn">{{ category_name }}</div>

                          <!-- <a name="{{ category_name | slugize }}"></a> -->

                        <div class="hidden l-list mb-4">
                          {% for post in site.categories[category_name] %}
                                <article class="mb-2 pl-3 text-sm" >
                                     <a  href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                                 </article>
                          {% endfor %}
                          
                        </div>


             </div>

    {% endfor %}


  </div>



  <div class="w-4/5 px-6 content-list mt-3">

      {{ content }}   

  </div>
      


</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ '/assets/index.js' }}"></script>

</body>

</html>


