---
layout: default
---




<!-- loop through paginated pages -->

<div class="">

{% for post in paginator.posts %}

<a href="{{ post.url | relative_url }}" class="">

    <div class="mb-6  hover:shadow-md hover:bg-gray-100 p-3 rounded-lg ">

        <div class="font-semibold mb-2">
                  
                  {{ post.title | escape }}
              
          
                    <!-- page category -->
                          {% if post %}
                                  {% assign categories = post.categories %}
                          {% else %}
                                  {% assign categories = page.categories %}
                          {% endif %}

                          {% for category in categories %}


                              <div class="post-meta">

                                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

                                {{ post.date | date: date_format }} 

                                      <span> Category: {{ category }} </span>
                              </div>   


                              {% unless forloop.last %}&nbsp;{% endunless %}

                          {% endfor %}   
            </div>


            <div class="snippet-body">
              
                <p>{{ post.excerpt }}</p>

            </div>
                                    
    </div>

</a> 

{% endfor %}


    {%- include footer.html -%}


</div>







