---
layout: default
---



<!-- creating categories-->

<div class="categories">
  <div class="categories-heading">CATEGORIES
  </div>
  {% for category in site.categories %}

     <div class="categories-group">
         {% capture category_name %}{{ category | first }}{% endcapture %}  
           <div id="#{{ category_name | slugize }}"></div>

		<i><h4 class="category-name">{{ category_name }}</h4></i>
		 <a name="{{ category_name | slugize }}"></a>

	    {% for post in site.categories[category_name] %}
            <article class="categories-item">
			<h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>	
	           </article>
	    {% endfor %}
     </div>

	{% endfor %}
</div>






<!-- loop through paginated pages -->
<div class="posts">
{% for post in paginator.posts %}

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  <div class= "card">
    <div class="snippet-head">
          
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      
           <span class="post-meta">{{ post.date | date: date_format }}</span>
           &nbsp;&nbsp;
  
<!-- page category -->
    {% if post %}
            {% assign categories = post.categories %}
    {% else %}
            {% assign categories = page.categories %}
    {% endif %}

    {% for category in categories %}
   <span class="post-meta"><a href="#">{{ category }}</a></span>   
        {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
<br><br>
          {{ post.excerpt }}
    </div>
          
          <div class="snippet-body">
           <img src="{{ site.url }}/assets/images/{{ post.image }}">
          </div>     
  </div>
{% endfor %}

</div>



<div class="pagination">
    {%- include pagination.html -%}
    </div>


